## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [4]:
import pandas as pd
import numpy as np

In [24]:
data = {'國家': ['國家_'+str(i) for i in range(15)],
        '人口': np.random.randint(low=1e5, high=1e7, size=15)}
data = pd.DataFrame(data)

In [25]:
data

       國家       人口
0    國家_0  2230334
1    國家_1  4100248
2    國家_2  8079836
3    國家_3  7014638
4    國家_4  5954695
5    國家_5  9994396
6    國家_6  5420570
7    國家_7  3086275
8    國家_8  4367958
9    國家_9  8090967
10  國家_10   638443
11  國家_11  8976065
12  國家_12  6362578
13  國家_13  7218108
14  國家_14  4589073

In [32]:
max_population = data['人口'].argmax()
print (data['國家'][max_population])
print (data['人口'][max_population])

國家_5
9994396

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.